body {
    background-image: url("../images/hugemapcopy.jpg");
}
.apartmenticon {
    position: absolute;
    margin-top: 20%;
    margin-left: 52%;
}     
.apartmenticon:hover {
    opacity:0.4;
    filter:alpha(opacity=40);
}
.apartmentplace {
    display: none;
    position: absolute;
    margin-top: 20%;
    margin-left: 52%;
}
.apartmentplace img{
    border: 3px;
    border-style:solid;
    border-color:#000000 #000000;
}
.apartmenticon2{
    top:200px;
    left: 20px;
    position: absolute;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.lscicon {
    position: absolute;
    margin-top: 29%;
    margin-left: 47%;
} 
.lscicon:hover {
    opacity:0.4;
    filter:alpha(opacity=40);
}
.lscplace {
    display: none;
    position: absolute;
    margin-top: 29%;
    margin-left: 47%;
}
.lscplace img{
    border: 3px;
    border-style:solid;
    border-color:#000000 #000000;
}
.lscicon2{
    top:250px;
    left: 20px;
    position: absolute;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.ammunationicon {
    position: absolute;
    margin-top: 41%;
    margin-left: 52%;
} 
.ammunationicon:hover {
    opacity:0.4;
    filter:alpha(opacity=40);
}
.ammunationplace {
    display: none;
    position: absolute;
    margin-top: 41%;
    margin-left: 50%;
}
.ammunationplace img{
    border: 3px;
    border-style:solid;
    border-color:#000000 #000000;
}
.ammunationicon2{
    top:300px;
    left: 20px;
    position: absolute;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.swedrumbleicon {
    position: absolute;
    margin-top: 20%;
    margin-left: 22%;
} 
.swedrumbleicon:hover {
    opacity:0.4;
    filter:alpha(opacity=40);
}
.swedrumbleplace {
    display: none;
    position: absolute;
    margin-top: 20%;
    margin-left: 22%;
}
.swedrumbleplace img{
    border: 3px;
    border-style:solid;
    border-color:#000000 #000000;
}
.swedrumbleicon2{
    position: absolute;
    top:350px;
    left: 20px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.darkhorsesicon {
    position: absolute;
    margin-top: 41%;
    margin-left: 65%;
} 
.darkhorsesicon:hover {
    opacity:0.4;
    filter:alpha(opacity=40);
}
.darkhorsesplace {
    display: none;
    position: absolute;
    margin-top: 41%;
    margin-left: 65%;
}
.darkhorsesplace img{
    border: 3px;
    border-style:solid;
    border-color:#000000 #000000;
}
.darkhorsesicon2{
    position: absolute;
    top:400px;
    left: 20px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.section2 iframe{
    position: absolute;
    top:420px;
    right: 20px;
    border: 3px;
    border-style:solid;
    border-color:#000000 #000000;
}
.swedairlines{
    position: absolute;
    top:200px;
    right: 20px;
}
.swedairlines img{
    border: 3px;
    border-style:solid;
    border-color:#000000 #000000;
}

.crewinfo{
    position: absolute;
    top:450px;
    left: 20px;
    background-color: #000000;
}
.info {
    text-align: center;
    position: absolute;
    top:730px;
    left: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.lossantosgif {
    position: absolute;
    top: 780px;
    left: 20px;
    border: 3px;
    border-style:solid;
    border-color:#3d5d26 #3d5d26;
}
.city {
    position: absolute;
    top:952px;
    left: 20px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.city iframe{
    padding-top: 20px;
}
.shared_product{
    position: absolute;
    top:800px;
    right: 10px;
    color: #ffffff;
    background-color: #180470;
    border:3px;
    border-style:solid;
    border-color:#000000 #000000;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}